span {
    color: red;
}

body {
    background-color: mintcream;
}

.msg-success {
    font-size: xx-large;
    color: springgreen;
    top: 200px;
    font-weight: bold;
}

.msg-error {
    display: none;
    font-size: xx-large;
    color: red;
    top: 200px;
    font-weight: bold;
}